*.iml
.gradle/*
/.gradle/*
/gradle/*
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/build/*
/app/libs/*

/app/src/androidTest/*
/app/src/test/*
/app/src/proguard-rules.pro/*

/app/app.iml
/app/build.gradle
/app/proguard-rules.pro
/lib/*
*.gradle
gradle.properties
gradlew
gradlew.bat